POEM,TITLE,SUBTITLE,AUTHOR,STANZA,VERSE
{
display:block;
}
TITLE{
font-weight:bold;
font-family:ו;
font-size:20pt;
}
SUBTITLE{
border-left:100px;
font-size:16pt;
font-style:italic;
margin-left:100px;
}
STANZA{
font-size:10pt;
background-image:url(tu.jpg);
margin-top:20px;
}