@charset "utf-8";
name{
	display:block;
	font-family:黑体;
	font-weight:bold;
	font-size:20pt;
	letter-spacing:10pt;
	text-align:center
}
writer{
	display:block;
	font-family:宋体;
	font-size:15pt;
	letter-spacing:10pt;
	line-height:40pt;
	text-align:center;
	color:red
}
content{
	display:block;
	font-family:楷体_gb2312;
	font-size:20pt;
	line-height:30pt;
	letter-spacing:10pt;
	line-height:30pt;
	text-align:center;
	color:black
}
	

